* {
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

body {
  background-color: #001f3f;
}

#main-container {
  margin: auto;
  margin-top: 150px;
  width: 450px;
  font-size: 50px;
  border: 1px solid #bb86fc;
}

#display-container {
  height: 60px;
  background-color: #0c253f;
  color: #ff6f61;
  text-align: right;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #bb86fc #1e1e1e;
}

#button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

button {
  margin: 5px;
  width: 100px;
  font-size: 50px;
  background-color: #ff6f61;
  color: #eaeaea;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #fa8e84;
  color: #fff;
}

#clear-button {
  width: fit-content;
}
